In [1]:
from allensdk.brain_observatory.behavior.behavior_ophys_session import BehaviorOphysSession
from allensdk.brain_observatory.behavior.behavior_session import BehaviorSession

In [25]:
behavior_session_id = 872953842
sdk_session = BehaviorSession.from_lims(behavior_session_id)
sdk_trial = sdk_session.trials.iloc[563]

sdk_trial[['change_time', 'change_frame', 'reward_time', 'lick_times', 'response_latency']]

change_time                                          3620.67
change_frame                                          217056
reward_time                                              NaN
lick_times          [3622.3560343738645, 3622.5395219456404]
response_latency                                     1.68476
Name: 563, dtype: object

In [26]:
from visual_behavior.translator.foraging2 import data_to_change_detection_core
import pandas as pd
from visual_behavior.translator.core import create_extended_dataframe
import visual_behavior.database as db
import visual_behavior.utilities as vbu

def get_behavior_session_id_from_ophys_experiment_id(ophys_experiment_id):
    '''sql query to get behavior session ID given an ophys experiment ID'''
    query = '''
        select bs.id
        from ophys_experiments as oe
        join ophys_sessions as os on oe.ophys_session_id = os.id
        join behavior_sessions as bs on os.foraging_id = bs.foraging_id
        where oe.id = {}
    '''
    return db.lims_query(query.format(ophys_experiment_id))

def get_ophys_session_id_from_ophys_experiment_id(ophys_experiment_id):
    '''sql query to get ophys session ID given an ophys experiment ID'''
    query = '''
        select ophys_session_id
        from ophys_experiments
        where id = {}
    '''
    return db.lims_query(query.format(ophys_experiment_id))

def open_vba_session(behavior_session_id, time=None):
    '''convenience function to open vba session'''
    pkl_path = db.get_pkl_path(behavior_session_id)
    data = pd.read_pickle(pkl_path)
    core_data = data_to_change_detection_core(data, time=time)
    return core_data

def get_sync_stim_timestamps(ophys_session_id=None, ophys_experiment_id=None):
    '''get stimulus timestamps from sync given an ophys session ID'''
    if ophys_experiment_id:
        ophys_session_id = get_ophys_session_id_from_ophys_experiment_id(ophys_experiment_id)
    if ophys_session_id:
        wkf = db.get_well_known_files(ophys_session_id, 'OphysSession')
    sync_filepath = ''.join([wkf.loc['OphysRigSync']['storage_directory'], wkf.loc['OphysRigSync']['filename']])
    sync_data = vbu.get_sync_data(sync_filepath)
    return sync_data['stim_vsync_falling']

## open core data, passing sync time to replace PKL timestamps
core_data = open_vba_session(
    behavior_session_id,
    time=None 
)
## build out the extended trial dataframe, which does some time rebasing and other trial labeling
extended_trials = create_extended_dataframe(**core_data)

In [27]:
extended_trials.iloc[563][['change_time', 'change_frame', 'lick_times', 'lick_frames', 'reward_times', 'reward_frames', 'response_latency']]

change_time                                                   3620.67
change_frame                                                   217056
lick_times          [3622.3560343738645, 3622.5395219456404, 3625....
lick_frames         [217157, 217168, 217370, 217382, 217645, 21765...
reward_times                                                       []
reward_frames                                                      []
response_latency                                              1.68476
Name: 563, dtype: object

In [31]:
extended_trials.iloc[563].to_dict()['lick_times']

[3622.3560343738645,
 3622.5395219456404,
 3625.9090092256665,
 3626.1091782683507,
 3630.4963064510375,
 3630.679931746796,
 3635.116629923694,
 3635.2834952855483,
 3640.2042368622497,
 3640.3877204610035]

In [30]:
sdk_session.trials.iloc[563].to_dict()['lick_times']

array([3622.35603437, 3622.53952195])

In [33]:
extended_trials.iloc[563]['endtime']

3645.191745375283

In [34]:
extended_trials.iloc[564]['starttime']

IndexError: single positional indexer is out-of-bounds

In [8]:
sdk_session.trials.iloc[46]['lick_times']

array([467.25303902, 467.56998238])

In [11]:
sdk_session.trials.iloc[46]['stop_time']

467.56998238060623

In [17]:
sdk_session.trials.iloc[47]['start_time']

467.8702032677829

In [19]:
core_data['trials'].iloc[46]

index                                      46
lick_times                  [473.50699674827]
auto_rewarded                            True
cumulative_volume                        0.02
cumulative_reward_number                    4
reward_volume                               0
reward_times                               []
reward_frames                              []
rewarded                                 True
optogenetics                            False
response_type                              []
response_time                              []
response_latency                          NaN
change_frame                              NaN
change_time                               NaN
starttime                             471.872
startframe                              27914
trial_length                          1.95137
scheduled_change_time                       6
endtime                               473.823
endframe                                28031
initial_image_category                  im077
initial_image_name                      im077
change_image_name                       im077
change_image_category                   im077
change_ori                               None
change_contrast                          None
initial_ori                              None
initial_contrast                         None
delta_ori                                None
Name: 46, dtype: object

In [20]:
core_data['trials'].iloc[47]

index                                         47
lick_times                  [476.19256154350904]
auto_rewarded                               True
cumulative_volume                           0.02
cumulative_reward_number                       4
reward_volume                                  0
reward_times                                  []
reward_frames                                 []
rewarded                                    True
optogenetics                               False
response_type                                 []
response_time                                 []
response_latency                             NaN
change_frame                                 NaN
change_time                                  NaN
starttime                                474.124
startframe                                 28049
trial_length                              2.3852
scheduled_change_time                          6
endtime                                  476.509
endframe                                   28192
initial_image_category                     im077
initial_image_name                         im077
change_image_name                          im077
change_image_category                      im077
change_ori                                  None
change_contrast                             None
initial_ori                                 None
initial_contrast                            None
delta_ori                                   None
Name: 47, dtype: object

In [22]:
extended_trials.iloc[46]['endframe']

28049

In [15]:
merged_rewards = pd.merge(
    left = core_data['rewards'].reset_index(drop=True)[['frame','time']].rename(columns={'frame':'vba_frame', 'time':'vba_time'}),
    right = sdk_session.rewards.reset_index()[['timestamps']].rename(columns={'timestamps':'sdk_time'}),
    left_index = True,
    right_index = True
)
merged_rewards['time_diff'] = merged_rewards['vba_time'] - merged_rewards['sdk_time']
merged_rewards

    vba_frame     vba_time     sdk_time  time_diff
0       18673   311.474082   323.940624 -12.466542
1       20926   349.055216   361.521678 -12.466462
2       25081   418.362582   430.829028 -12.466446
3       26615   443.950420   456.401119 -12.450699
4       36358   606.468265   618.934711 -12.466446
..        ...          ...          ...        ...
81     224200  3739.844876  3752.312169 -12.467293
82     225575  3762.780533  3775.247882 -12.467349
83     227348  3792.354999  3804.822316 -12.467316
84     230231  3840.511528  3852.978839 -12.467311
85     233839  3900.694692  3913.161899 -12.467207

[86 rows x 4 columns]

In [16]:
sdk_session.licks

             time
0        9.198638
1       14.969926
2       15.136738
3       20.224298
4       28.047415
...           ...
2903  4022.420035
2904  4064.838477
2905  4065.038636
2906  4211.643415
2907  4259.232858

[2908 rows x 1 columns]

In [46]:
core_data['licks']

       frame        time
0        406    14.40120
1        436    14.90159
2        744    20.03910
3        757    20.25629
4       1006    24.40935
...      ...         ...
2984  244577  4098.68398
2985  244602  4099.10096
2986  244628  4099.53466
2987  245106  4107.50783
2988  245160  4108.40857

[2989 rows x 2 columns]

In [47]:
merged_licks = pd.merge(
    left = core_data['licks'].reset_index(drop=True)[['frame','time']].rename(columns={'frame':'vba_frame', 'time':'vba_time'}),
    right = sdk_session.licks.rename(columns={'time':'sdk_time'}),
    left_index = True,
    right_index = True
)
merged_licks['time_diff'] = merged_licks['vba_time'] - merged_licks['sdk_time']
merged_licks

      vba_frame    vba_time     sdk_time  time_diff
0           406    14.40120    14.401231  -0.000031
1           436    14.90159    14.901623  -0.000033
2           744    20.03910    20.039135  -0.000035
3           757    20.25629    20.256319  -0.000029
4          1006    24.40935    24.409378  -0.000028
...         ...         ...          ...        ...
2984     244577  4098.68398  4098.684009  -0.000029
2985     244602  4099.10096  4099.100986  -0.000026
2986     244628  4099.53466  4099.534686  -0.000026
2987     245106  4107.50783  4107.507861  -0.000031
2988     245160  4108.40857  4108.408595  -0.000025

[2989 rows x 4 columns]

In [52]:
core_data['visual_stimuli'][core_data['visual_stimuli']['image_name'].str.startswith('im')]

,orientation,image_name,image_category,frame,end_frame,time,duration,stop_frame
0,NaN,im065,im065,17987,18002.0,307.65685,0.25021,NaN
1,NaN,im065,im065,18032,18047.0,308.40747,0.25022,NaN
2,NaN,im065,im065,18077,18092.0,309.15810,0.25058,NaN
3,NaN,im065,im065,18122,18137.0,309.90897,0.25023,NaN
4,NaN,im065,im065,18167,18181.0,310.67601,0.23352,NaN
...,...,...,...,...,...,...,...,...
4630,NaN,im069,im069,233330,233345.0,3911.08089,0.25020,NaN
4631,NaN,im069,im069,233375,233390.0,3911.83151,0.25018,NaN
4632,NaN,im069,im069,233420,233435.0,3912.58210,0.25020,NaN
4633,NaN,im069,im069,233465,233480.0,3913.33271,0.25049,NaN
4634,NaN,im069,im069,233510,233525.0,3914.08368,0.25011,NaN

In [53]:
sdk_session.stimulus_presentations.query('omitted == False')

,duration,end_frame,image_index,image_name,image_set,index,omitted,orientation,phase,spatial_frequency,start_frame,start_time,stop_time
stimulus_presentations_id,,,,,,,,,,,,,
0,0.25021,18002.0,0,im065,Natural_Images_Lum_Matched_set_training_2017.0...,0,False,NaN,NaN,NaN,17987,307.678418,307.928628
1,0.25022,18047.0,0,im065,Natural_Images_Lum_Matched_set_training_2017.0...,1,False,NaN,NaN,NaN,18032,308.429038,308.679258
2,0.25058,18092.0,0,im065,Natural_Images_Lum_Matched_set_training_2017.0...,2,False,NaN,NaN,NaN,18077,309.179668,309.430248
3,0.25023,18137.0,0,im065,Natural_Images_Lum_Matched_set_training_2017.0...,3,False,NaN,NaN,NaN,18122,309.930538,310.180768
4,0.23352,18181.0,0,im065,Natural_Images_Lum_Matched_set_training_2017.0...,4,False,NaN,NaN,NaN,18167,310.697578,310.931098
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4794,0.25020,233345.0,7,im069,Natural_Images_Lum_Matched_set_training_2017.0...,4630,False,NaN,NaN,NaN,233330,3911.102458,3911.352658
4795,0.25018,233390.0,7,im069,Natural_Images_Lum_Matched_set_training_2017.0...,4631,False,NaN,NaN,NaN,233375,3911.853078,3912.103258
4796,0.25020,233435.0,7,im069,Natural_Images_Lum_Matched_set_training_2017.0...,4632,False,NaN,NaN,NaN,233420,3912.603668,3912.853868
4797,0.25049,233480.0,7,im069,Natural_Images_Lum_Matched_set_training_2017.0...,4633,False,NaN,NaN,NaN,233465,3913.354278,3913.604768
4798,0.25011,233525.0,7,im069,Natural_Images_Lum_Matched_set_training_2017.0...,4634,False,NaN,NaN,NaN,233510,3914.105248,3914.355358

In [64]:
merged_stimuli = pd.merge(
    (core_data['visual_stimuli'][core_data['visual_stimuli']['image_name'].str.startswith('im')][['frame','time']]
     .rename(columns = {'frame':'vba_frame','time':'vba_time'})), # get only visual stimuli, not movie stimuli
    (sdk_session.stimulus_presentations.query('omitted == False')[['start_frame', 'start_time']]
     .rename(columns = {'start_frame':'sdk_frame','start_time':'sdk_time'})
     .reset_index(drop=True)
    ), # get only non-omitted visual stimuli
    left_index = True,
    right_index = True
)
merged_stimuli['time_diff'] = merged_stimuli['sdk_time'] - merged_stimuli['vba_time']
merged_stimuli

      vba_frame    vba_time  sdk_frame     sdk_time  time_diff
0         17987   307.65685      17987   307.678418   0.021568
1         18032   308.40747      18032   308.429038   0.021568
2         18077   309.15810      18077   309.179668   0.021568
3         18122   309.90897      18122   309.930538   0.021568
4         18167   310.67601      18167   310.697578   0.021568
...         ...         ...        ...          ...        ...
4630     233330  3911.08089     233330  3911.102458   0.021568
4631     233375  3911.83151     233375  3911.853078   0.021568
4632     233420  3912.58210     233420  3912.603668   0.021568
4633     233465  3913.33271     233465  3913.354278   0.021568
4634     233510  3914.08368     233510  3914.105248   0.021568

[4635 rows x 5 columns]

In [62]:
(sdk_session.stimulus_presentations.query('omitted == False')[['start_frame', 'start_time']]
     .rename(columns = {'start_frame':'sdk_frame','start_time':'sdk_time'}))

                           sdk_frame     sdk_time
stimulus_presentations_id
0                              17987   307.678418
1                              18032   308.429038
2                              18077   309.179668
3                              18122   309.930538
4                              18167   310.697578
...                              ...          ...
4794                          233330  3911.102458
4795                          233375  3911.853078
4796                          233420  3912.603668
4797                          233465  3913.354278
4798                          233510  3914.105248

[4635 rows x 2 columns]

In [65]:
get_ophys_session_id_from_ophys_experiment_id(856938751)

856295914

In [67]:
dir(sdk_session.api)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_behavior_stimulus_file',
 '_get_ids',
 '_process_ophys_plane_timestamps',
 'behavior_session_id',
 'cache_clear',
 'from_foraging_id',
 'get_age',
 'get_api_list_by_container_id',
 'get_average_intensity_projection_image_file',
 'get_average_projection',
 'get_behavior_session_id',
 'get_behavior_session_uuid',
 'get_behavior_stimulus_file',
 'get_birth_date',
 'get_cell_roi_ids',
 'get_cell_specimen_table',
 'get_containers_df',
 'get_corrected_fluorescence_traces',
 'get_demix_file',
 'get_dff_file',
 'get_dff_traces',
 'get_driver_line',
 'get_experiment_container_id',
 'get_experiment_date',
 'get_extended_trials',
 'get_external_specimen_name',
 'get_eye_tracking',
 'get_eye_tracking_filepath',
 'get_field_of_view_shape',
 'get_foraging_id',
 'get_full_genotype',
 'get_imaging_depth',
 'get_imaging_plane_group',
 'get_licks',
 'get_max_projection',
 'get_max_projection_file',
 'get_metadata',
 'get_motion_corrected_image_stack_file',
 'get_motion_correction',
 'get_nwb_filepath',
 'get_objectlist_file',
 'get_ophys_cell_segmentation_run_id',
 'get_ophys_container_id',
 'get_ophys_experiment_df',
 'get_ophys_experiment_dir',
 'get_ophys_experiment_id',
 'get_ophys_experiment_ids',
 'get_ophys_frame_rate',
 'get_ophys_session_id',
 'get_ophys_timestamps',
 'get_plane_group_count',
 'get_raw_cell_specimen_table_dict',
 'get_raw_dff_data',
 'get_reporter_line',
 'get_rewards',
 'get_rig_name',
 'get_rigid_motion_transform_file',
 'get_running_data_df',
 'get_running_speed',
 'get_sex',
 'get_stimulus_frame_rate',
 'get_stimulus_name',
 'get_stimulus_presentations',
 'get_stimulus_rebase_function',
 'get_stimulus_templates',
 'get_stimulus_timestamps',
 'get_surface_2p_pixel_size_um',
 'get_sync_data',
 'get_sync_file',
 'get_sync_licks',
 'get_targeted_structure',
 'get_task_parameters',
 'get_trials',
 'get_workflow_state',
 'lims_db',
 'logger',
 'mtrain_db',
 'ophys_experiment_id']

In [68]:
sdk_session.api.get_extended_trials()

RuntimeError: Should not have been possible