In [3]:
import pandas as pd
%widescreen

In [4]:
path = '//allen/programs/braintv/workgroups/nc-ophys/visual_behavior/2020_cache/production_cache_old/behavior_analysis_log.csv'
key_name = 'behavior_session_id'

In [55]:
record = pd.read_csv(path, index_col=key_name) #.to_dict(orient="index")

In [56]:
1015170268 in record.index.values

False

In [58]:
record.to_csv('temp.csv')

In [28]:
912570298 in record.index

True

In [29]:
import time

In [32]:
key_value = 1015170268
now = round(time.time())
keys = [key_name, "created_at", "updated_at"]
values = [key_value, now, now]

In [33]:
values

[1015170268, 1586799611, 1586799611]

In [34]:
{key_value: dict(zip(keys[1:], values[1:]))}

{1015170268: {'created_at': 1586799611, 'updated_at': 1586799611}}

In [37]:
pd.DataFrame.from_dict({key_value: dict(zip(keys[1:], values[1:]))}, orient="index")

            created_at  updated_at
1015170268  1586799611  1586799611

In [39]:
temp = pd.concat([record, pd.DataFrame.from_dict({key_value: dict(zip(keys[1:], values[1:]))}, orient="index")])

In [41]:
temp.loc[key_value]

created_at    1.586800e+09
updated_at    1.586800e+09
Name: 1015170268.0, dtype: float64

In [51]:
record.loc[844004077,keys[1:]]  = values[1:]

In [47]:
keys[1:]

['created_at', 'updated_at']

In [52]:
record

                       created_at    updated_at
behavior_session_id
911128094.0          1.586473e+09  1.586475e+09
942562699.0          1.586473e+09  1.586568e+09
983472077.0          1.586476e+09  1.586476e+09
992440576.0          1.586477e+09  1.586574e+09
844004077.0          1.586800e+09  1.586800e+09
...                           ...           ...
912570298.0          1.586584e+09  1.586584e+09
913091877.0          1.586584e+09  1.586584e+09
913677684.0          1.586584e+09  1.586584e+09
913677684.0          1.586584e+09  1.586584e+09
913677706.0          1.586584e+09  1.586584e+09

[317 rows x 2 columns]