In [15]:
import pandas as pd

# here is a dataframe
df = pd.DataFrame({'chars': ['a','b','c','d','e'], 'ints':range(5)}, index=[1,1,2,1,1])

# here is what we want:
wanted_int_list = [2,4]
wanted_char_list = ['a','e']


# here is the filtered version
filtered_df = df[
    (df['ints'].isin(wanted_int_list))
    &(df['chars'].isin(wanted_char_list))
]

filtered_df

  chars  ints
1     e     4

In [10]:
df['ints'].isin(wanted_list)

1    False
1    False
1     True
1    False
1     True
Name: ints, dtype: bool

In [ ]:
row = overlaping_rois_df[
    (overlaping_rois_df['cell_0']==int(cell_0))
    &(overlaping_rois_df['cell_1']==int(cell_1))
]

In [ ]:
row = overlaping_rois_df.query('cell_0 == @cell_0 and cell_1 == @cell_1')
    (overlaping_rois_df['cell_0']==int(cell_0))
    &(overlaping_rois_df['cell_1']==int(cell_1))
]

In [16]:
from visual_behavior_glm.glm import GLM

In [17]:
GLM?

In [24]:
import pandas as pd

# here is a dataframe
df = pd.DataFrame({
    'chars': ['a','b','c','d','e'], 
    'ints':range(5),
    'strings':[
        'Do you like green eggs and ham?', 
        'I do not like them,', 
        'Sam-I-am.', 
        'I do not like', 
        'green eggs and ham.'
    ]
})

df[~df['strings'].str.contains('eggs')]

  chars  ints              strings
1     b     1  I do not like them,
2     c     2            Sam-I-am.
3     d     3        I do not like

In [32]:
df.query('not strings.str.contains("egg")', engine="python")

  chars  ints              strings
1     b     1  I do not like them,
2     c     2            Sam-I-am.
3     d     3        I do not like

In [31]:
df.query?