In [11]:
import visual_behavior.database as db
import visual_behavior.plotting as vbp
from visual_behavior.utilities import EyeTrackingData
from allensdk.brain_observatory.behavior.behavior_project_cache import BehaviorProjectCache as bpc
from multiprocessing import Pool


from visual_behavior.translator.allensdk_sessions import sdk_utils


from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

/home/dougo/.local/lib/python3.7/site-packages/xarray/core/merge.py:17: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  PANDAS_TYPES = (pd.Series, pd.DataFrame, pd.Panel)
/home/dougo/Code/AllenSDK/allensdk/brain_observatory/behavior/behavior_ophys_api/behavior_ophys_nwb_api.py:9: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [12]:
manifest_path = "/home/dougo/manifest.json"
cache = bpc.from_lims(manifest=manifest_path)

In [15]:
oeid = 936494970
osid = sdk_utils.get_osid_from_oeid(oeid,cache)

In [16]:
eye_data = EyeTrackingData(osid)

In [17]:
dir(eye_data)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_ellipse',
 'cr_color',
 'ellipse_fits',
 'eye_color',
 'filepaths',
 'filter_blinks',
 'filter_outliers',
 'foraging_id',
 'get_annotated_frame',
 'get_eye_data_from_file',
 'get_matching_sync_line',
 'ophys_experiment_id',
 'ophys_session_id',
 'pupil_color',
 'sync_data',
 'sync_timestamps']

In [27]:
eye_data.ellipse_fits['pupil'].iloc[1000:1010]

,center_x,center_y,height,phi,width,area,time,frame,likely_outlier,likely_blinks,blink_corrected_center_x,blink_corrected_center_y,blink_corrected_height,blink_corrected_phi,blink_corrected_width,blink_corrected_area,blink_corrected_likely_outlier,normalized_blink_corrected_area
1000,339.732759,230.518579,34.502814,0.470115,39.533141,4909.898510,33.63624,1000,False,False,339.732759,230.518579,34.502814,0.470115,39.533141,4909.898510,0.0,0.349786
1001,338.924015,233.176245,34.576404,0.277948,39.703893,4952.403954,33.66730,1001,False,True,338.838182,230.906651,34.623917,0.468480,39.455685,4890.903910,0.0,0.348433
1002,337.502486,235.067322,34.485627,0.274934,39.517550,4906.026523,33.70073,1002,False,True,337.943606,231.294723,34.745020,0.466845,39.378229,4871.909309,0.0,0.347079
1003,339.843984,252.611272,32.953469,-0.123077,38.286381,4605.094099,33.73399,1003,True,True,337.049029,231.682794,34.866123,0.465211,39.300773,4852.914709,0.0,0.345726
1004,320.118083,262.904844,34.529345,-0.047023,38.356236,4621.913655,33.76739,1004,True,True,336.154452,232.070866,34.987226,0.463576,39.223317,4833.920108,0.0,0.344373
1005,319.748773,256.596288,31.254177,0.355990,36.309381,4141.785076,33.80065,1005,True,True,335.259876,232.458938,35.108329,0.461942,39.145861,4814.925508,0.0,0.343020
1006,326.132982,256.762756,29.349989,0.246259,37.452898,4406.773445,33.83423,1006,True,True,334.365299,232.847010,35.229432,0.460307,39.068405,4795.930907,0.0,0.341667
1007,321.294875,249.853658,30.650049,0.174324,37.362222,4385.461180,33.86727,1007,True,True,333.470722,233.235082,35.350535,0.458672,38.990949,4776.936307,0.0,0.340314
1008,324.264072,252.185895,33.870158,0.074987,38.371523,4625.598582,33.90074,1008,True,True,332.576146,233.623153,35.471639,0.457038,38.913493,4757.941706,0.0,0.338960
1009,325.621861,254.458053,33.506604,0.357437,38.071494,4553.545836,33.93415,1009,True,True,331.681569,234.011225,35.592742,0.455403,38.836037,4738.947105,0.0,0.337607

In [30]:
minimum_columns = ['time','frame','center_x','center_y','height','width','phi']

In [44]:
eye_data.ellipse_fits['pupil'] = eye_data.ellipse_fits['pupil'].rename(columns = {'normalized_blink_corrected_area':'normalized_area'})

In [45]:
eye_data.ellipse_fits['pupil']

,center_x,center_y,height,phi,width,area,time,frame,likely_outlier,likely_blinks,blink_corrected_center_x,blink_corrected_center_y,blink_corrected_height,blink_corrected_phi,blink_corrected_width,blink_corrected_area,blink_corrected_likely_outlier,normalized_area
0,NaN,NaN,NaN,NaN,NaN,NaN,0.33152,0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,0.34131,1,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.36786,2,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.40106,3,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,0.43443,4,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136029,NaN,NaN,NaN,NaN,NaN,NaN,4534.53620,136029,False,True,335.849194,226.57883,57.549423,0.103348,68.255418,14636.058305,0.0,1.042687
136030,NaN,NaN,NaN,NaN,NaN,NaN,4534.57195,136030,False,True,335.849194,226.57883,57.549423,0.103348,68.255418,14636.058305,0.0,1.042687
136031,NaN,NaN,NaN,NaN,NaN,NaN,4534.60278,136031,False,True,335.849194,226.57883,57.549423,0.103348,68.255418,14636.058305,0.0,1.042687
136032,NaN,NaN,NaN,NaN,NaN,NaN,4534.63608,136032,False,True,335.849194,226.57883,57.549423,0.103348,68.255418,14636.058305,0.0,1.042687
136033,NaN,NaN,NaN,NaN,NaN,NaN,4534.67113,136033,False,True,335.849194,226.57883,57.549423,0.103348,68.255418,14636.058305,0.0,1.042687

In [31]:
eye_data.ellipse_fits['pupil'].iloc[1000:1010][minimum_columns]

          time  frame    center_x    center_y     height      width       phi
1000  33.63624   1000  339.732759  230.518579  34.502814  39.533141  0.470115
1001  33.66730   1001  338.924015  233.176245  34.576404  39.703893  0.277948
1002  33.70073   1002  337.502486  235.067322  34.485627  39.517550  0.274934
1003  33.73399   1003  339.843984  252.611272  32.953469  38.286381 -0.123077
1004  33.76739   1004  320.118083  262.904844  34.529345  38.356236 -0.047023
1005  33.80065   1005  319.748773  256.596288  31.254177  36.309381  0.355990
1006  33.83423   1006  326.132982  256.762756  29.349989  37.452898  0.246259
1007  33.86727   1007  321.294875  249.853658  30.650049  37.362222  0.174324
1008  33.90074   1008  324.264072  252.185895  33.870158  38.371523  0.074987
1009  33.93415   1009  325.621861  254.458053  33.506604  38.071494  0.357437

In [32]:
eye_data.ellipse_fits['eye'].iloc[1000:1010][minimum_columns]

,time,frame,center_x,center_y,height,width,phi
1000,33.63624,1000,330.002835,248.411670,124.949502,148.610527,0.029218
1001,33.66730,1001,328.803618,250.204317,124.177995,148.982440,0.022254
1002,33.70073,1002,326.757131,251.805200,122.359492,149.240452,0.022075
1003,33.73399,1003,325.857526,255.680138,113.014242,141.929362,0.048089
1004,33.76739,1004,326.038930,260.637072,75.402978,119.686605,0.164701
1005,33.80065,1005,341.386178,260.525974,47.662817,105.671484,0.224768
1006,33.83423,1006,334.645241,259.116761,39.883671,92.795543,0.137887
1007,33.86727,1007,332.567327,257.573204,61.405684,113.355609,0.152883
1008,33.90074,1008,333.887262,260.531770,64.094504,116.755529,0.147806
1009,33.93415,1009,336.979425,259.524625,53.417008,108.606251,0.156520

In [33]:
eye_data.ellipse_fits['corneal_reflection'].iloc[1000:1010][minimum_columns]

          time  frame    center_x    center_y     height      width       phi
1000  33.63624   1000  316.341802  261.749099   7.948651   7.938827 -0.609278
1001  33.66730   1001  315.398135  264.076021   8.345494   9.039955 -0.304189
1002  33.70073   1002  313.885466  265.167497   8.330875   9.020216 -0.105195
1003  33.73399   1003  311.749787  274.908992  10.896441   9.881648  0.638475
1004  33.76739   1004  298.427086  290.425253   9.759468   8.991445  0.727528
1005  33.80065   1005  301.702476  286.918579   5.339119   4.724005  0.360549
1006  33.83423   1006  303.060707  280.932043   7.298015   5.699418 -0.643577
1007  33.86727   1007  300.136221  279.866754   9.454831  10.566762 -0.717665
1008  33.90074   1008  304.657713  278.692249   9.461792   8.127531  0.573396
1009  33.93415   1009  303.197387  279.973370   8.396875  11.272804 -0.199928

In [37]:
extra_columns = ['area','normalized_area','likely_blinks',]

In [46]:
eye_data.ellipse_fits['pupil'].iloc[1000:1010][minimum_columns + extra_columns]

,time,frame,center_x,center_y,height,width,phi,area,normalized_area,likely_blinks
1000,33.63624,1000,339.732759,230.518579,34.502814,39.533141,0.470115,4909.898510,0.349786,False
1001,33.66730,1001,338.924015,233.176245,34.576404,39.703893,0.277948,4952.403954,0.348433,True
1002,33.70073,1002,337.502486,235.067322,34.485627,39.517550,0.274934,4906.026523,0.347079,True
1003,33.73399,1003,339.843984,252.611272,32.953469,38.286381,-0.123077,4605.094099,0.345726,True
1004,33.76739,1004,320.118083,262.904844,34.529345,38.356236,-0.047023,4621.913655,0.344373,True
1005,33.80065,1005,319.748773,256.596288,31.254177,36.309381,0.355990,4141.785076,0.343020,True
1006,33.83423,1006,326.132982,256.762756,29.349989,37.452898,0.246259,4406.773445,0.341667,True
1007,33.86727,1007,321.294875,249.853658,30.650049,37.362222,0.174324,4385.461180,0.340314,True
1008,33.90074,1008,324.264072,252.185895,33.870158,38.371523,0.074987,4625.598582,0.338960,True
1009,33.93415,1009,325.621861,254.458053,33.506604,38.071494,0.357437,4553.545836,0.337607,True